.center-text{
	text-align: center;
}

.responsive {
  max-width: 100%;
  height: auto;
}

.gif-image {
  width:100%;
  height: auto;
}

.pointer{
	cursor: pointer;
}

.purple-bc{
	background-color: #9a18b3;
}

.purple-text{
	color: #9a18b3;
}

.white-text{
	color: white;
}

.w-400{
	width: 400px;
}

.zero-margin{
	margin: 0 auto;
}

.m-10{
	margin: 10px;
}

.mt-20{
	margin-top: 20px;
}

.mb-20{
	margin-bottom: 20px;
}

.s-18{
	font-size: 18px;
}

.s-22{
	font-size: 22px;
}